.fieldset-container {
    margin-block: 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.hour-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hour-container span {
    font-size: 14px;
    font-weight: bold;
    /* margin-bottom: 12px; */
}

.day-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.day-container .time-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-basis: 50%;
}

.button-container {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.special-day-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}